<html>
  <style>

    .nav-bar {
      margin-left: 40%;
    }

    .nav-bar-div {
      background-color: #334F79; /* For browsers that do not support gradients */
      background-image: linear-gradient(#334F79,#3A78E5);
    }

  </style>
</html>
<body>
<nav class="navbar navbar-expand-lg navbar-light nav-bar-div">
    <a class="navbar-brand" href="/">Employee Job Portal</a>
    <ul class="navbar-nav mr-auto nav-bar">
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/job-opening/all">Job openings</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/job-opening/create">Create Job opening</a>
      </li>

    </ul>
  </nav>
</body>
</html>