<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <%- include('../partials/head'); %>
</head>
<style>
    .card {
        margin: 30px;
    }

    #newJobOpeningBtn {
        margin-top: 20px;
        margin-left: 80%;
        margin-bottom: 20px;
        background-color: lightcoral;
        border: lightcoral;
    }

    h2 {
        padding-top: 2%;
        padding-bottom: 2%;
    }
</style>

<script>

</script>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <h2>
            About Us
        </h2>

      

        <div class="row">
          <div class="col-6">  <h6>
            An employment website is a website that deals specifically with employment or careers. Many employment websites are designed to allow employers to post job requirements for a position to be filled and are commonly known as job boards.
           </h6>
           <br> <br>
           <h6>
            A job portal, also known as a career portal, is a modern name for an online job board that helps applicants find jobs and aids employers in their quest to locate ideal candidates. Career websites, such as Monster, Indeed and SimplyHired, have job portals that offer a broad range of jobs in a vast number of fields. Some government agencies, nonprofit organizations, universities and private businesses have their own job portals that applicants can access on the organization's website.

           </h6>

          </div> 
          <div class="col-6">
            <img src="images/jobs-background.jpg"/> 
          </div> 
        </div>

    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>